// background: rgb(170,202,41);
// background: linear-gradient(145deg, rgba(170,202,41,1) 0%, rgba(27,188,157,1) 100%);

.about-us {
  &__title {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 57px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
    width: 100%;
  }

  &__sub-title {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    width: 452px;
  }

  &__team {
    display: flex;
    margin-bottom: 102px;
    justify-content: space-between;
  }

  &__people {
    text-align: center;
    width: 223px;

    img {
      object-fit: cover;
    }

    &-name {
      font-weight: 500;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 6px;
    }
    &-post {
      margin-bottom: 20px;
    }
    &-info {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #acacac;
      letter-spacing: 0.3px;
      line-height: 20px;
    }
  }
  &__skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
  }
  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-name {
      font-weight: 500;
      font-size: 13px;
      margin-top: 19px;
    }
  }
}
