// background: rgb(170,202,41);
// background: linear-gradient(145deg, rgba(170,202,41,1) 0%, rgba(27,188,157,1) 100%);

.about-us {
  &__title {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 57px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
    width: 100%;
  }

  &__sub-title {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    width: 452px;
  }

  &__team {
    display: flex;
    margin-bottom: 102px;
    justify-content: space-between;

    @include for-tablet {
      flex-direction: column;
    }
  }

  &__people {
    text-align: center;
    max-width: 223px;
    &:last-child {
      @include for-tablet {
        margin-bottom: 0;
      }
    }
    @include for-desktop {

      font-size: 14px;
      max-width: 200px;
      max-height: 200px;
    }

    @include for-tablet {
      display: flex;
      max-width: none;
      margin-bottom: 20px;
      font-size: 20px;

    }

    img {
      object-fit: cover;
      @include for-desktop {
        width: 200px;
      }
    }

    &-name {
      font-weight: 500;
      font-size: 1.25em;
      margin-top: 1.5em;
      margin-bottom: 6px;
    }
    &-post {
      margin-bottom: 1.25em;
      font-size: 1em;
    }
    &-info {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 0.8125em;
      color: #acacac;
      letter-spacing: 0.3px;
      line-height: 1.25em;
    }
  }
  &__skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
  }
  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-name {
      font-weight: 500;
      font-size: 13px;
      margin-top: 19px;
    }
  }
}


