.button {
  width: 131px;
  height: 42px;
  font-weight: 300;
  font-size: 18px;
  border-radius: 4px;
  color: $text-main;
  box-shadow: 0 0 0 0;
  transition: all 0.3s ease;

  &--green {
    background-color: $green;
    box-shadow: 0px 2px 0px 0px darken($green, 20%);
  }

  &--blue {
    background-color: $blue;
    box-shadow: 0px 2px 0px 0px darken($blue, 20%);
  }

  &--white-light {
    background-color: $white-light;
    box-shadow: 0px 2px 0px 0px darken($white-light, 20%);
    color: $dark;
  }

  &--blue-light {
    background-color: $blue-light;
    box-shadow: 0px 2px 0px 0px darken($blue-light, 20%);
  }

  &--green-light {
    background-color: $green-light;
    box-shadow: 0px 2px 0px 0px darken($green-light, 20%);
  }

  &--dark-light {
    background-color: $dark-light;
    box-shadow: 0px 2px 0px 0px darken($dark-light, 20%);
  }

  &:hover {
    color: $back;
  }

  &:active {
    transform: translate(0px, 2px);
    box-shadow: none;
  }
}
// rgb(121, 143, 33)
