.portfolio {
  padding: 63px 0;
  font-weight: 300;
  min-height: 734px;

  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__tabs {
    &-ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    &-li {
      margin-bottom: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
    &-btn {
      height: 32px;
      width: 104px;
      font-size: 14px;
      display: inline-block;
      background-color: $dark;
      margin-right: 6px;
      transition: all 0.3s ease;
      text-align: center;
      line-height: 32px;
    }
  }

  &__grid {
    &-load {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      span {
        margin-top: 45px;
        margin-bottom: 15px;
      }
    }
    &-box {
      // width: 224px;
      height: 224px;
      background-color: $dark;
      display: none;
      position: relative;
      // overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &:hover .portfolio__grid-box-info {
        opacity: 1;
      }

      &-reviews {
        span {
          padding-left: 32px;
        }
      }
      &-comments {
        position: relative;
        cursor: pointer;

        &:hover::before,
        &:hover {
          filter: invert(23%) sepia(90%) saturate(6042%) hue-rotate(182deg)
            brightness(104%) contrast(107%);
          color: rgb(64, 115, 235);
        }

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          top: 0;
          left: 5px;
          width: 20px;
          height: 20px;
          background: url(/images/portfolio/chat.png) no-repeat;
          background-size: contain;
          // transition: filter 0.1s ease;

          @media (max-width: 735px) {
            width: 15px;
            height: 15px;
          }
        }
      }

      &-likes {
        position: relative;
        cursor: pointer;
        // transition: color 0.3s ease;

        &:hover::before,
        &:hover {
          filter: invert(25%) sepia(100%) saturate(7488%) hue-rotate(340deg)
            brightness(106%) contrast(108%);
          color: red;
        }

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          top: 0;
          left: 8px;
          width: 20px;
          height: 20px;
          background: url(/images/portfolio/heart.png) no-repeat;
          background-size: contain;
          // transition: filter 0.1s ease;

          @media (max-width: 735px) {
            width: 15px;
            height: 15px;

          }
        }
      }

      &-text {
        margin-bottom: 25px;
      }
      &-info {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        top: 12%;
        left: 12%;
        width: 75.89%;
        height: 75.89%;
        background-color: $hover-review;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          font-weight: 500;
          font-size: 1.125em;
          margin-bottom: 10px;
        }

        span {
          font-weight: 300;
          font-size: 0.875em;
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        display: inline-block;
      }

      &-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, 223px);
        gap: 15px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 980px) { 
  .portfolio__grid-box-wrap {
    grid-template-columns: repeat(auto-fill, 180px);
  }
  .portfolio__grid-box {
    height: 180px;
  }
  .portfolio__grid-box-info {
    font-size: 75.89%;
  }
}

@media (max-width: 800px) { 
  .portfolio__grid-box-wrap {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .portfolio__grid-box {
    height: 160px;
  }
}

@media (max-width: 735px) { 
  .portfolio__grid-box-wrap {
    grid-template-columns: repeat(auto-fill, 130px);
  }
  .portfolio__grid-box {
    height: 130px;
  }
  .portfolio__grid-box-info {
    font-size: 70.89%;
  }
  .portfolio__grid-box-reviews span {
    padding-left: 26px;
  }
}

@media (max-width: 600px) { 
  .portfolio__grid-box-wrap {
    grid-template-columns: repeat(auto-fill, 180px);
  }
  .portfolio__grid-box {
    height: 180px;
  }
  .portfolio__grid-box-info {
    font-size: 90%;
  }
}

@media (max-width: 450px) { 
  .portfolio__grid-box-wrap {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .portfolio__grid-box {
    height: 140px;
  }
  .portfolio__grid-box-info {
    font-size: 80%;
  }
  .portfolio__grid-box-text {
    margin-bottom: 15px;
  }
}