.question {
  background-color: $slogan-back2;
  &__inner {
    padding: 150px 0;
    

    @include for-phone {
      text-align: center;
    }
  }
  &__btns {

    @include for-phone {
      display: flex;
      flex-direction: column;
    }
  }
  &__btn {
    margin-top: 30px;

    &:first-child {
      margin-right: 9px;
    }

    @include for-phone {
      width: 100%;
      height: 60px;
    }
  }
  &__title {
    font-size: 60px;
    font-weight: 300;
  }
  &__sub-title {
    font-weight: 500;
    font-size: 40px;
  }

  &--medium {
    font-weight: 500;
  }

  &--light {
    font-weight: 300;
    font-size: 50px;
  }

  &__icons {
    max-width: 489px;
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
    flex-wrap: wrap;
  }

  &__img-wrap {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    margin-top: 10px;

    &:hover .question__icon:last-child {
      opacity: 1;
      background-color: $icons;
      border-radius: 50%;
      border: #282a31 6px solid;
      width: 48px;
      height: 48px;
      top: -6px;
      left: -6px;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    &:last-child {
      opacity: 0;
    }
  }
}
