@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #11111100;
  --secondary: #424242;
  --size: 145px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  height: 72px;
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: conic-gradient(
  //   from 0.75turn at 50% 100%,
  //   var(--primary) calc(var(--percentage) * 1% / 2),
  //   var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%)
  // );
  background: conic-gradient(from 0.75turn at 50% 100%, #1bbc9d, #aaca29);
  mask: radial-gradient(at 50% 100%, rgba(0, 0, 0, 0) 45%, #000 43.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 45%, #000 45.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar-grad"] {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0.75turn at 50% 100%,
    var(--primary) calc(var(--percentage) * 1% / 2),
    var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%)
  );
  // background: conic-gradient(from 0.75turn at 50% 100%, #1bbc9d, #aaca29);
  mask: radial-gradient(at 50% 100%, white 45%, transparent 45.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 45%, #000 45.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
