// Fonts

$font-main: "Roboto", sans-serif;
$font-card: "Open Sans", sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

// Colors

$back: #282a2e;
$slogan-back: #453a34;
$slogan-back2: #4b3f34;
$text-green: #97c248;
$text-main: #fff;
$text-links: #1bbc9d;
$price-main-blue: #1bbc9d;
$icons: #282a2e;
$price-text-sub: #969696;
$about-us-hash: #b0cd3b;
$about-us-main: #717171;
$about-us-card: #adadad;
$services__box-content: #b6b6b6;
$hover-review: #232323;
// Button
$green: #b0cd3b;
$green-light: #b6c380;
$blue: #1bbc9d;
$blue-light: #74b0a4;
$white: #f4f4f4;
$white-light: #e4e4e4;
$dark: #313338;
$dark-light: #424242;


// SCREEN

// $phone: 599px;
// $tablet-portrait-up: 600px;
// $for-tablet-landscape-up: 900px;
