//  Mixin
@import "mixins/mixins";

// Base
@import "base/reset", "base/vars", "base/base";

// Block
@import "block/header", "block/our-services", "block/logo", "block/services",
  "block/question", "block/button", "block/portfolio", "block/line",
  "block/prices", "block/skillbar", "block/about-us", "block/contact-us",
  "block/footer";

// plugins
@import "plugins/ui", "plugins/search";

::-webkit-input-placeholder {
  color: #989898;
}
:-moz-placeholder {
  /* Upto Firefox 18, Deprecated in Firefox 19  */
  color: #989898;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #989898;
}
:-ms-input-placeholder {
  color: #989898;
}
